*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-family: "Gilroy", sans-serif
  font-size: 16px
  font-weight: 400

$primary-color: #1F3F68

//common components

.button
  cursor: pointer
  padding: 15px 48px
  background: #5A98D0
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
  border-radius: 10px
  border: none
  font-size: 16px
  color: #fff
  text-align: center
  letter-spacing: 0.04em
  &:hover
    background: #3179b8

.wrapper
  max-width: 940px
  margin: 0 auto

//header

.header__wrapper
  max-width: 1200px
  margin: 0 auto

.header
  padding-top: 48px
  display: flex
  justify-content: space-between
  align-items: center

  .logo__image,
  .burger__button
    display: block

  .logo__image
    width: 3rem
    height: 2rem

  .burger__button
    cursor: pointer
    width: 1.5rem
    height: 1rem

//main section
.hero
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0.2) 31.12%)
  .main
    padding: 110px 0 190px
    display: flex
    justify-content: flex-start
    align-content: center
    background: url("../img/main/main-image.svg") no-repeat
    background-size: 50%
    background-position: 100% 0%

  .main__hero
    width: 60%
    .main__header
      margin-bottom: 32px
      font-family: Galien
      font-size: 64px
      font-weight: 400
      line-height: 74px
      letter-spacing: 0.04em
      color: $primary-color

    .main__text
      width: 75%
      margin-bottom: 71px
      line-height: 26px
      letter-spacing: 0.05rem
      color: $primary-color
      opacity: 0.6

.offer
  padding: 192px 0 212px
  display: flex
  flex-direction: row
  .offer__left,
  .offer__right
    width: 50%
    display: flex
    flex-direction: column

  .offer__left
    .offer__header
      margin-right: 100px
      margin-bottom: 158px
      font-size: 2.25rem
      font-weight: 700
      line-height: 46px
      letter-spacing: 0.05em
      color: #316099

  .offer__right .offer__card:first-child
    margin-bottom: 100px
    position: relative
    .card__image
      position: absolute
      top: -1.5rem
    .card__description
      padding-top: 218px

  .offer__card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-left: 100px
    padding: 48px
    background: #FFFFFF
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2)
    border-radius: 10px

    .card__image
      margin-bottom: 3.5rem

    .card__description

      .description__header
        margin-bottom: 1rem
        font-size: 1.25rem
        font-weight: 500
        line-height: 1.875rem
        letter-spacing: 0.05em
        color: #1F3F68

      .description__text
        margin-bottom: 2rem
        line-height: 1.625rem
        letter-spacing: 0.05em
        color: #1F3F68
        opacity: 0.6

      .description__button
        text-decoration: none
        font-size: 0.875rem
        line-height: 1.875rem
        letter-spacing: 0.05em
        font-weight: 700
        color: #5A98D0
        position: relative
        &::after
          bottom: 0
          right: -28px
          position: absolute
          content: ""
          background: url("../img/offer/arrow.svg") no-repeat
          background-size: cover
          width: 1rem
          height: 1rem
        &:hover
          color: #3179b8

.fb
  background: #5A98D0
  border-radius: 200px 0px 0px 0px

  .feedback
    padding: 96px 0 125px
    .feedback__info
      display: flex
      margin-bottom: 6.9375rem
      .info__header
        margin-right: 87px
        color: #FFFFFF
        font-weight: 500
        font-size: 2.25rem
        line-height: 2.875rem
        letter-spacing: 0.05em
      .info__description
        margin-right: 80px
        max-width: 540px
        color: #FFFFFF
        opacity: 0.6
        line-height: 1.625rem
        letter-spacing: 0.05em

    .feedback__client
      display: flex
      justify-content: flex-start
      align-items: center
      width: 100%
      flex-wrap: wrap
      .client__box
        white-space: nowrap
        width: 25%
        border-right: 1px solid #ffffff
        padding: 41px 46px
        &:nth-child(-n+4)
          border-bottom: 1px solid #ffffff
        &:nth-child(4n)
          border-right: none
        &:last-child
          text-align: center
          background: rgba(31,63,104, 0.2)
          button
            cursor: pointer
            border: none
            background: transparent
            font-weight: 500
            &:hover
              transition: 0.5s
              transform: scale(1.05)

        span,
        button
          font-size: 1.25rem
          line-height: 2.875rem
          letter-spacing: 0.02em
          color: #F2F2F2
          font-weight: 500

.footer__wrapper
  max-width: 860px
  margin: 0 auto

.footer-background
  background: #5A98D0
  .footer
    margin-right: 6rem
    background: #316099
    border-radius: 0px 200px 0px 0px

    .footer__job
      display: flex
      justify-content: space-between
      align-items: center
      padding-top: 5.6875rem
      padding-bottom: 6rem
      position: relative
      .footer__border
        position: absolute
        border-bottom: 1px solid rgba(255, 255, 255, 0.4)
        bottom: 0
        width: 110%
        left: -10%
        height: 1px
      .job__offer
        width: 55%
        display: flex
        flex-direction: column

        .offer__header
          margin-bottom: 2rem
          font-size: 2.25rem
          font-weight: 500
          line-height: 2.875rem
          letter-spacing: 0.05em
          color: #ffffff
        .offer__description
          line-height: 1.625rem
          letter-spacing: 0.05em
          color: #FFFFFF
          opacity: 0.6
      .job__button
        padding: 0.9375rem 4.625rem

    .footer__contacts
      padding: 6rem 0 4rem
      display: flex
      justify-content: flex-start
      align-items: flex-start
      color: #FFFFFF

      a
        color: #ffffff
        text-decoration: none
      .contacts__info,
      .contacts__about,
      .contacts__social
        display: flex
        flex-direction: column

      .contacts__info
        margin-right: 6.25rem
        .info__header
          margin-bottom: 2.0625rem
          font-size: 1.75rem
          line-height: 2.875rem
          letter-spacing: 0.02em
          img
            vertical-align: middle
        div
          font-weight: 500
        .info__item
          display: inline-block
          margin-left: 1rem
          margin-bottom: 1.5rem
          vertical-align: top
          font-weight: 300

      .contacts__about
        margin-right: 4.8125rem

      .about__header,
      .social__header
        margin-bottom: 2rem
        font-weight: 400
        font-size: 1.25rem
        line-height: 1.875rem
        letter-spacing: 0.05em

      a
        margin-bottom: 1rem
        font-weight: 300
        &:hover
          color: rgba(255, 255, 255, 0.6)

//modal

.modal__contact
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  background-color: rgba(51, 51, 51, 0.6)
  overflow: auto

  .contact
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    .contact__form
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 2rem
      border-radius: 8px
      background-color: #ffffff

      .form__header
        margin-bottom: 1.5rem
        font-size: 1.25rem
        line-height: 1.875rem
        letter-spacing: 0.04em
        color: #1F3F68

      .form__item
        display: flex
        flex-direction: column
        margin-bottom: 1rem
        &:last-of-type
          margin-bottom: 2.5rem

      & label
        color: #1F3F68
        line-height: 1.875rem
        opacity: 0.8
        margin-bottom: 0.5rem

      .form__input
        width: 21.75rem
        padding: 0.5rem 2.25rem
        opacity: 0.4
        border: 1px solid #356EAD
        box-sizing: border-box
        border-radius: 10px
        font-family: "Gilroy", sans-serif
        line-height: 1.875rem
        outline: none
        -webkit-appearance: none
        &:last-of-type
          resize: none

      .form__button
        width: 100%
        font-size: 1rem
        line-height: 1.625rem
        -webkit-appearance: none

.disable
  display: none

@media (max-width: 767.98px)
  .header__wrapper
    margin: 0 20px

  .wrapper
    margin: 0 20px

  .hero
    .main
      background: none
      padding: 0 0 3rem

      .main__hero
        width: 100%
        margin-top: 3rem

        .main__header
          margin-bottom: 1rem
          font-family: Galien
          font-size: 2.5rem
          font-weight: 400
          line-height: 3rem

        .main__text
          width: 100%
          margin-bottom: 1.5rem

  .offer
    padding: 92px 0 112px
    display: flex
    flex-direction: column
    .offer__left,
    .offer__right
      width: 100%
      display: flex
      flex-direction: column

    .offer__left
      .offer__header
        margin-right: 0
        margin-bottom: 2rem
        font-size: 2.25rem
        font-weight: 700
        line-height: 3rem
        letter-spacing: 0.05em
        color: #316099

    .offer__right .offer__card:first-child
      margin-bottom: 3rem
      position: relative
      .card__image
        position: absolute
        top: -1.5rem
      .card__description
        padding-top: 218px

    .offer__card
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-left: 0
      margin-bottom: 3rem
      padding: 3rem

      .card__image
        margin-bottom: 3.5rem

  .fb
    background: #5A98D0
    border-radius: 200px 0px 0px 0px

    .feedback
      padding: 5rem 0 4rem
      .feedback__info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 3rem
        .info__header
          font-size: 2rem
          margin-right: 0
          margin-bottom: 1rem
          padding-left: 1rem

        .info__description
          margin-right: 0
          padding: 0 1rem
          max-width: 100%

      .feedback__client
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
        .client__box
          white-space: normal
          text-align: left
          line-height: 1rem
          width: 50%
          border-bottom: 1px solid #ffffff
          padding: 2rem 2.5rem
          &:nth-child(odd)
            border-bottom: 1px solid #ffffff
            &:nth-child(7n)
              border-bottom: none
            &:last-child
              text-align: center
              background: rgba(31,63,104, 0.2)
              button
                cursor: pointer
                border: none
                background: transparent
                font-weight: 500
                &:hover
                  transition: 0.5s
                  transform: scale(1.05)
          &:nth-child(even)
            border-right: none
            &:last-child
              border-bottom: none
          span,
          button
            line-height: 1.5rem

  .footer__wrapper
    margin: 0 20px
  .footer-background
    background: #5A98D0
    .footer
      margin-right: 3rem
      .footer__job
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding: 3rem 0
        .job__offer
          width: 100%
          display: flex
          flex-direction: column

          .offer__header
            margin-bottom: 1rem
            font-size: 1rem
            font-weight: 500
            line-height: 1.5rem
            letter-spacing: 0.05em
            color: #ffffff
          .offer__description
            margin-bottom: 2rem
            width: 80%
            line-height: 1.625rem
            letter-spacing: 0.05em
            color: #FFFFFF
            opacity: 0.6

      .footer__contacts
        padding: 3rem 0 2rem
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap

        .contacts__info,
        .contacts__about,
        .contacts__social
          display: flex
          flex-direction: column

        .contacts__info
          width: 100%

        .contacts__about,
        .contacts__social
          width: 50%

        .contacts__info
          margin-right: 0
          margin-bottom: 1rem
        .info__header
          margin-bottom: 1rem
          img
            vertical-align: middle

        .contacts__about
          margin-right: 0

        .about__header,
        .social__header
          margin-bottom: 1.5rem

  .modal__contact
    .contact
      .contact__form
        padding: 1rem
        .form__header
          margin-bottom: 0.5rem
        .form__item
          display: flex
          flex-direction: column
          margin-bottom: 0.5rem
          &:last-of-type
            margin-bottom: 1.5rem

        .form__input
          width: 15rem
          padding: 0.5rem 2rem
          opacity: 0.4
          border: 1px solid #356EAD
          box-sizing: border-box
          border-radius: 10px
          font-family: "Gilroy", sans-serif
          line-height: 1.5rem
          outline: none
        &:last-of-type
          resize: none

    .form__button
      font-size: 1rem
      line-height: 1.5rem
      padding: 0.5rem 0
      width: 100%
@media (min-width: 768px) and (max-width: 991.98px)
  .wrapper,
  .header__wrapper
    margin: 0 20px

  .hero
    .main
      background-size: 60%
      background-position: right 100%

    .main__hero
      width: 70%

  .offer
    padding: 9rem 0 7rem
    .offer__left
      .offer__header
        margin-right: 4rem
    .offer__card
      margin-left: 2rem
    .offer__right .offer__card:first-child
      margin-bottom: 3rem

  .fb
    .feedback
      .feedback__info
        flex-direction: column
        align-items: flex-start
        padding-left: 2rem
      .feedback__client
        .client__box
          white-space: normal
          span,
          button
            line-height: 2rem

  .footer__wrapper
    margin: 0 20px
@font-face
  font-family: Gilroy
  font-style: bold
  font-weight: 700
  src: url("./../fonts/Gilroy/Gilroy-Bold.ttf")

@font-face
  font-family: Gilroy
  font-style: normal
  font-weight: 400
  src: url("./../fonts/Gilroy/Gilroy-Regular.ttf")

@font-face
  font-family: Gilroy
  font-style: semibold
  font-weight: 500
  src: url("./../fonts/Gilroy/Gilroy-SemiBold.ttf")

@font-face
  font-family: Gilroy
  font-style: light
  font-weight: 300
  src: url("./../fonts/Gilroy/Gilroy-Light.ttf")

@font-face
  font-family: Galien
  font-style: normal
  font-weight: 400
  src: url("./../fonts/Galien/TTF/Galien-Regular.ttf"), url("./../fonts/Galien/OTF/Galien-Regular.otf")
