*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-family: "Gilroy", sans-serif
  font-size: 16px
  font-weight: 400

$primary-color: #1F3F68

//common components

.button
  cursor: pointer
  padding: 15px 48px
  background: #5A98D0
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
  border-radius: 10px
  border: none
  color: #fff
  text-align: center
  letter-spacing: 0.04em
  &:hover
    background: #3179b8

.wrapper
  max-width: 940px
  margin: 0 auto

//header

.header__wrapper
  max-width: 1200px
  margin: 0 auto

.header
  padding-top: 48px
  display: flex
  justify-content: space-between
  align-items: center

  .logo__image,
  .burger__button
    display: block

  .logo__image
    width: 48px
    height: 32px

  .burger__button
    width: 24px
    height: 16px

//main section
.hero
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0.2) 31.12%)
  .main
    padding: 101px 0 190px
    background: url("../img/main/main-image.svg") no-repeat
    background-size: 50%
    background-position: 100% 0%

  .main__hero
    width: 60%
    .main__header
      margin-bottom: 32px
      font-family: Galien
      font-size: 64px
      font-weight: 400
      line-height: 74px
      letter-spacing: 0.04em
      color: $primary-color

    .main__text
      width: 75%
      margin-bottom: 71px
      line-height: 26px
      letter-spacing: 0.05rem
      color: $primary-color
      opacity: 0.6

@font-face
  font-family: Gilroy
  font-style: bold
  font-weight: 700
  src: url("./../fonts/Gilroy/Gilroy-Bold.ttf")

@font-face
  font-family: Gilroy
  font-style: normal
  font-weight: 400
  src: url("./../fonts/Gilroy/Gilroy-Regular.ttf")

@font-face
  font-family: Galien
  font-style: normal
  font-weight: 400
  src: url("./../fonts/Galien/TTF/Galien-Regular.ttf"), url("./../fonts/Galien/OTF/Galien-Regular.otf")
